/**
 * Header specifics stylesheet
 */

.Header {
    text-align: center;
    padding: 8px;
    display: flex;
    align-items: center;

    .main-title {
        flex-grow: 1;
        font-weight: bold;
        font-size: 2rem;
    }
}
