/**
 * MainMenu specifics stylesheet
 */

.MainMenu {
    display: flex;
    list-style: none;

    li {
        &::after {
            content: "|";
            display: inline-block;
            margin: 0 10px;
        }

        &:last-child::after {
            content: initial;
        }
    }
}
